{% extends "header.html" %}
{% block title %}<title>Главная PhotoHot</title>{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">PhotoHot</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"
             href="home">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">О сайте</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="redactor">Редактор</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ru/">Вернуться</a>
        </li>
      </ul>
    </div>
    <div class="text-end">
      <button type="button" class="btn btn-outline-light me-2">
        Зарегистрироваться
      </button>
      <button type="button" class="btn btn-warning">Войти</button>
    </div>
  </div>
</nav>

<main role="main" class="container">
  {% block base %}{% endblock %}
</main>
{% endblock %}