{% extends "header.html" %}
{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">PhotoHot</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="redactor">Redactor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/en/">Exit</a>
        </li>
      </ul>
    </div>
    <div class="text-end">
      {% if current_user.is_authenticated %}
          <a class="navbar-brand" href="/logout" id="logout">{{ current_user.username }}</a>
      {% else %}
          <p>
            <button type="button" class="btn btn-outline-light me-2"><a href="/en/login">Login</a></button>
            
            <button type="button" class="btn btn-warning"><a href="/en/register">Sign-up</a></button>
          </p>
      {% endif %}
    </div>
  </div>
</nav>

<main role="main" class="container">
  {% block base %}{% endblock %}
</main>
{% endblock %}>
