{% extends "header.html" %}
{% block title %}<title xmlns="http://www.w3.org/1999/html"
                        xmlns="http://www.w3.org/1999/html">Home</title>{% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">
          <p class="text-center">Account</p>
        </h4>
        <p class="card-text">
        <p class="text-center">{{ username }}</p>
        </p>
      </div>
      <div class="card-footer" align="centre">
        <small class="text">
          <a class="nav-link" href="/logout">
            <p class="text-center">
              <span class="align-middle">
                <b>Exit!</b>
              </span>
            </p>
          </a>
        </small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="">
      <div class="card-body">
        <h4 class="card-title">
          <p class="text-center">PhotoHot</p>
        </h4>
        <p class="card-text">
        <p class="text-center">Simple photoshop</p>
        </p>
      </div>
      <div class="card-footer" align="centre">
        <small class="text">
          <a class="nav-link" href="phhot/home">
            <p class="text-center">
              <span class="align-middle">
                <b>Try!</b>
              </span>
            </p>
          </a>
        </small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="">
      <div class="card-body">
        <h4 class="card-title">
          <p class="text-center">The Games</p>
        </h4>
        <p class="card-text">
        <p class="text-center">You always can relax!</p>
        </p>
      </div>
      <div class="card-footer">
        <small class="text">
          <a class="nav-link" href="games">
            <p class="text-center">
              <span class="align-middle">
                <b>Play!</b>
              </span>
            </p>
          </a>
        </small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">DJ-controls</h5>
        <p>Элджей - Рваные джинсы</p>
        <audio controls>
          <source src="C:\Users\Savva\PycharmProjects\Flaskproject2\Macan - Asphalt 8.mp3" type="audio/mpeg">
          <source src="C:/Users/Savva/PycharmProjects/Flaskproject2/Macan-Asphalt-8.ogg" type="audio/ogg">
        </audio>
        <p>Александр Клименков - Четырнадцать</p>
        <audio controls>
          <source src="audio/music.mp3" type="audio/mpeg">
          <a href="audio/music.mp3">.</a>
        </audio>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">
          <p class="text-center">Casino chip market</p>
        </h5>
        <p class="text-center">Here you can buy chips for our casino.</p>
      </div>
      <div class="card-footer">
        <small class="text">
          <a class="nav-link" href="shop/home">
            <p class="text-center">
              <span class="align-middle">
                <b>Buy!</b>
              </span>
            </p>
          </a>
        </small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="">
      <div class="card-body">
        <h5 class="card-title">
          <p class="text-center">Casino</p>
        </h5>
        <p class="text-center">Here you can give us your money into our great casino.</p>
      </div>
      <div class="card-footer">
        <small class="text">
          <a class="nav-link" href="casino/">
            <p class="text-center">
              <span class="align-middle">
                <b>Spend money!</b>
              </span>
            </p>
          </a>
        </small>
      </div>
    </div>
  </div>
  
</div>
{% endblock %}
