{% extends "header.html" %}
{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt=" Something went wrong!">
      <div class="card-body">
        <h4 class="card-title">
          <p class="text-center">PhotoHot</p>
        </h4>
        <p class="card-text">
        <p class="text-center">Simple photoshop</p>
        </p>
      </div>
      <div class="card-footer" align="centre">
        <small class="text">
          <a class="nav-link" href="phhot/home">
            <p class="text-center">
              <span class="align-middle">
                <b>Try!</b>
              </span>
            </p>
          </a>
        </small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt=" Something went wrong!">
      <div class="card-body">
        <h4 class="card-title">
          <p class="text-center">The Game</p>
        </h4>
        <p class="card-text">
        <p class="text-center">You always can relax!</p>
        </p>
      </div>
      <div class="card-footer">
        <small class="text">
          <a class="nav-link" href="phhot/home">
            <p class="text-center">
              <span class="align-middle">
                <b>Play!</b>
              </span>
            </p>
          </a>
        </small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt=" Something went wrong!">
      <div class="card-body">
        <h5 class="card-title">Заголовок карточки</h5>
        <p class="card-text">Это более широкая карта С вспомогательным
          текстом ниже в качестве естественного перехода к
          дополнительному контенту. Эта карточка имеет даже более
          длинный контент, чем первая, чтобы показать действие
          одинаковой высоты.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Последнее обновление 3 мин.
          назад</small>
      </div>
    </div>
  </div>
</div>
{% endblock %}
