<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="127.0.0.1:5000" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="Oleg Manannikov"
        content="Mark Otto, Jacob Thornton, and Bootstrap contributors">

  <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"></script>
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"></script>
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"></script>
  <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"></script>
  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous">
  <title>Main Page</title>

</head>
<body>


<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">
          <p class="text-center">English</p>
        </h4>
      </div>
      <div class="card-footer" align="centre">
        <small class="text">
          <a class="nav-link" href="/en/">
            <p class="text-center">
              <span class="align-middle">
                <b>Choose!</b>
              </span>
            </p>
          </a>
        </small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">
          <p class="text-center">Русский</p>
        </h4>
      </div>
      <div class="card-footer">
        <small class="text">
          <a class="nav-link" href="/ru/">
            <p class="text-center">
              <span class="align-middle">
                <b>Выбрать!</b>
              </span>
            </p>
          </a>
        </small>
      </div>
    </div>
  </div>
</div>


</body>
</html>
