{% extends "header.html" %}
{% block title %}<title>Home</title>{% endblock %}
{% block content %}
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">
          <p class="text-center">English</p>
        </h4>
      </div>
      <div class="card-footer" align="centre">
        <small class="text">
          <a class="nav-link" href="/en/">
            <p class="text-center">
              <span class="align-middle">
                <b>Choose!</b>
              </span>
            </p>
          </a>
        </small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h4 class="card-title">
          <p class="text-center">Русский</p>
        </h4>
      </div>
      <div class="card-footer">
        <small class="text">
          <a class="nav-link" href="/ru/">
            <p class="text-center">
              <span class="align-middle">
                <b>Выбрать!</b>
              </span>
            </p>
          </a>
        </small>
      </div>
    </div>
  </div>
</div>
{% endblock %}