{% extends "header.html" %}
{% block title %}<title>Shop</title>{% endblock %}
{% block content %}
<style>
	body {
    margin-left: 50‒;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
};
</style>
<div>
	<div><h2>My other works</h2>
		<a href="https://github.com/0veR6amE/GameOfLive" class="nav-link"><h3>
			GameOfLive</h3></a>
		<a href="https://github.com/0veR6amE/beat_of_bullets" class="nav-link">
			<h3>Beat of Bullets</h3></a>>
	</div>
	<div>
		<h2>My contacts</h2>
		<h3>oleg.manannikov@yandex.ru</h3>
		<a href="https://github.com/0veR6amE=" class="nav-link"><h3>GitHub</h3>
		</a>
		<a href="https://github.com/ChipsikiSPaprikoi" class="nav-link"><h4>My
			Colobarator</h4></a>
	</div>
</div>
{% endblock %}