{% extends "header.html" %}
{% block title %}<title xmlns="http://www.w3.org/1999/html">YandexCasino</title>{% endblock %}
{% block content %}
<style>
  body { background:
  #000000 url(https://gamerwall.pro/uploads/posts/2021-11/thumbs/1637067521_1-gamerwall-pro-p-temnii-fon-tekstura-oboi-na-zastavku-1.jpg);

    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
</style>
<h1 style="color:Yellow" align="center">Crash</h1>
<h2 style="color:Yellow" align="right">{{ username }}</h2>
<h3 style="color:White" align="right">Balance: {{ balance }}</h3>
<div class="roulette" style="">
</div>
{% endblock %}
