{% extends "header.html" %}
{% block title %}<title xmlns="http://www.w3.org/1999/html">
	YandexCasino</title>{% endblock %}
{% block content %}
<style>
  body { background:
  #000000 url(https://gamerwall.pro/uploads/posts/2021-11/thumbs/1637067521_1-gamerwall-pro-p-temnii-fon-tekstura-oboi-na-zastavku-1.jpg);

    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.rectangle {
  height: 300px;
  width: 200px;
  background-color: {{ color }};
}

</style>
<a href="/en/casino/" class="nav-link"><h1 style="color:Yellow" align="center">Roulette</h1></a>
<h2 style="color:Yellow" align="right">{{ username }}</h2>
<a href="/en/shop/home/" class="nav-link"><h3 style="color:White" align="right">Balance: {{ balance }}</h3></a>
<h4 style="color:White" align="right">Win: {{ win }}</h4>
<div class="roulette" style="">
	<div class="rectangle" style="margin-left: 660px;"><big><big>{{ num
		}}</big></big></div>
	<form method="post">
	<div class="form-check"
		 style="color: Grey;margin-left: 730px;margin-top: 30px;">
		<input class="form-check-input" type="radio" name="flexRadioDefault"
			   id="flexRadioDefault1">
		<label class="form-check-label" for="flexRadioDefault1">
			Black
		</label>
	</div>
	<div class="form-check" style="color: Red;margin-left: 730px;">
		<input class="form-check-input" type="radio" name="flexRadioDefault"
			   id="flexRadioDefault2">
		<label class="form-check-label" for="flexRadioDefault2">
			Red
		</label>
	</div><div class="form-check" style="color: Green;margin-left: 730px;">
		<input class="form-check-input" type="radio" name="flexRadioDefault"
			   id="flexRadioDefault3">
		<label class="form-check-label" for="flexRadioDefault3">
			Green
		</label>
	</div><
		<input type="number" placeholder="Input bet here" size="40"
			   style="margin-left: 570px;margin-top: 50px;">
		<input type="submit" name="submit" formmethod="post">START</input>
	</form>
</div>
{% endblock %}
