{% extends "header.html" %}
{% block title %}<title xmlns="http://www.w3.org/1999/html"
                        xmlns="http://www.w3.org/1999/html">YandexCasino</title>{% endblock %}
{% block content %}
<style>
  body { background:
  #000000 url(https://gamerwall.pro/uploads/posts/2021-11/thumbs/1637067521_1-gamerwall-pro-p-temnii-fon-tekstura-oboi-na-zastavku-1.jpg);

    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
</style>
<a href="/en/casino" class="nav-link"><h1 style="color:Yellow" align="center">Slot-machine</h1></a>
<h2 style="color:Yellow" align="right">{{ username }}</h2>
<a href="/en/shop/home" class="nav-link"><h3 style="color:White" align="right">Balance: {{ balance }}</h3></a>
<h4 style="color:White" align="right">Win: {{ win }}</h4>
<h3 style="color:White" align="centre">{{ result }}</h3>
<div class="slotmachine" style="margin-top: -50px;">
    <img src="../../../static/img/casino/machine.png" alt="slot-machine not found" style="margin-left: 485px;" width="600" height="500" align="centre">
    <div class="images">
    <img src={{ first }} alt="7" style="margin-top: -520px;margin-left: 620px;" width="80" height="80">
    <img src={{ second }} alt="7" style="margin-top: -520px;margin-left: 20px;" width="80" height="80">
    <img src={{ thrid }} alt="7" style="margin-top: -520px;margin-left: 13px;" width="80" height="80">
    </div>
    <form method="post" name="form">
    <input type="submit" name="submit" formmethod="post">START</input>
    <input type="number" name="price" placeholder="Input bet here" formmethod="post" size="40" style="margin-left: 570px; margin-top: -200px;"></form>
</div>
{% endblock %}
